body,html,div,h1,h2,h3,h4,h5,h6,ul,li,span,p{
	margin: 0;
	padding:0;	
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	font-size: 20px;
}
a{
	color: #222;
	text-decoration: none;
}
a,span{
	color: #fff;
	display: block;
}
li{
	list-style-type:none;
}
.crealfix{
	*zoom:1;
}
.crealfix:after{
	content: "";
	display: block;
	clear: both;
}
.commer{
	min-height: 800px;
}
.commer-h2{
	padding: 80px 0 30px 0;
}


header{
	background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507178469245&di=8a3993c37267a01ccba49dcbad8c73c1&imgtype=0&src=http%3A%2F%2Fimg22.mtime.cn%2Fup%2F2010%2F12%2F30%2F213927.63767449_o.jpg);
	background-repeat: no-repeat;
	background-position:center center;  
	background-size: cover;
}
nav{
	line-height: 80px;
	min-width: 800px;
	height: 80px;
}
nav .logo{
	margin-left: 30px;
	font-size: 30px;
	float: left;
}
nav .wrap{
	float: right;
}
.wrap li{
	margin-right: 30px;
	display: inline-block;
}
#banner{
	color: #fff;
	text-align: center;
}
#banner h2{
	font-size: 40px;
	padding-top: 200px;
	padding-bottom: 20px;
}
#banner h1{
	font-size: 30px;
	padding-bottom:100px;
}
.more-button input{
	border: 0;
	background: #ff9800;
	font-size: 25px;
	padding: 20px 50px;
	border-radius: 5px;
}