.omit-container{
	width: 1180px;
	margin: 0 auto;
	text-align: center;
}
.list-wrap{
	margin: 100px auto 50px auto;
}
.list-wrap li{
	margin-left:10px; 
	width: 380px;
	float: left;
	display: inline;
}
.list-wrap li h3{
	margin-bottom: 20px;
}
.list-wrap li p{
	padding:20px 0 20px 0;
}
.commer-span{
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto 50px auto;
	border-radius: 50%;
}

.left-span{
	background: url(http://c.hiphotos.baidu.com/image/crop%3D0%2C0%2C492%2C448/sign=65563254d033c895b231c23bec235fc0/962bd40735fae6cd11fbeea206b30f2443a70fa1.jpg);
	background-repeat: no-repeat;
	background-position:46% 10%; 
}
.right-span{
	background: url(http://i.38mhw.com/ixw201509/0001595.jpg);
	background-repeat: no-repeat;
	background-position:11% 10%; 
	background-size:200%;
}
.mid-span{
	background: url(http://pic.wehefei.com/0/02/61/89/2618969_647795.jpg);
	background-repeat: no-repeat;
	background-position:21% 7%; 
	background-size:200%;
}
