#contact{
	background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507186644173&di=81cd67e4fd690cd93c505547ab504fc2&imgtype=0&src=http%3A%2F%2Fimg22.mtime.cn%2Fup%2F2010%2F12%2F30%2F213957.52407601_o.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	text-align: center;
}
.contact-cantainer{
	color: #fff;
	width: 1080px;
	margin: 0 auto;
}
.contact-cantainer h2{
	padding: 50px 0;
}
form{
	padding: 80px 50px;
}
.input-wrap{
	float: left;
}
.text{
	float: right;
}
.input-wrap input{
	color: #fff;
	background: #ff9800;
	font-size: 25px;
	margin-left: 50px;
	margin-bottom: 40px;
	width: 400px;
	height: 60px;
	border-radius: 10px;
	border: 0;
}
textarea{
	color: #fff;
	background: #ff9800;
	font-size: 25px;
	margin-right: 50px;
	min-width: 400px;
	min-height: 280px;
	border-radius: 10px;
}
.submit input{
	float: left;
	position: relative;
	top: 0;
	left: -80px;
	margin-top: 50px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	border-radius: 5px;
	background:#ff9800;
	border: 0;
}


@font-face {
  font-family: 'xxxx';  /* project id 433815 */
  src: url('http:/at.alicdn.com/t/font_433815_h3xik3x0o4po80k9.eot');
  src: url('http:/at.alicdn.com/t/font_433815_h3xik3x0o4po80k9.eot?#iefix') format('embedded-opentype'),
  url('http:/at.alicdn.com/t/font_433815_h3xik3x0o4po80k9.woff') format('woff'),
  url('http:/at.alicdn.com/t/font_433815_h3xik3x0o4po80k9.ttf') format('truetype'),
  url('http:/at.alicdn.com/t/font_433815_h3xik3x0o4po80k9.svg#iconfont') format('svg');
}

footer{
	background: #222;
	height: 80px;
}
.address{
	margin: 0 auto;
	width: 1080px;
}
.address ul li{
	line-height: 80px;
	display: inline-block;
}
.address-left{
	color: #fff;
	float: left;
}
.address-right{
	float: right;
}
.address-mid{
	float: left;
	margin-left: 200px;
	margin-top: 15px;
}
.address-mid span{
	cursor: pointer;
	font-size: 30px;
	overflow: hidden;
	float: left;
	line-height: 40px;
	text-align: center;
	font-family: "xxxx";
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;
	background: #222;
}
.address-mid span:hover{
	background: rgba(0,0,0,0.9);
}