#photo{
	background:#ececec;
}
.photo-cantainer{
	text-align: center;
	width: 1180px;
	margin: 0 auto;
}
.photo-cantainer h2{
	padding: 50px;
}
.photo-warp{
	margin-top: 80px;
	padding-bottom: 100px;
}
.photo-left{
	width: 350px;
}
.photo-warp ul li{
	cursor: pointer;
	margin-bottom: 20px;
	width: 365px;
	height: 375px;
	box-shadow: 2px 5px 10px #555;
	border-radius: 2px;
	background: #Fff;
}

.photo-warp ul li img{
	width: 100%;
	height: 100%;
}
.photo-warp ul li span{
	position: relative;
	display: block;
	height: 80%;
	margin-bottom: 10px;
}
.photo-left{
	float: left;
	margin-left: 20px;
}
.photo-mid{
	margin-left: 40px;
	float: left;
}
.photo-right{
	margin-left: 20px;
	float: left;
}

.photo-warp ul li span:before{
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	height:100%;
	width: 100%;
	background: rgba(254, 209, 54, .5);
	display: none;
	content: "+";
	font-size: 420px;
	line-height: 300px;
}
.photo-warp ul li:hover span:before{
	display: block;
}